<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <!-- <link rel="stylesheet"  type="text/css" href="public/styles/style.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="my-0 mx-auto max-w-3xl text-left"><%=shopName%> Shop</h1>
    <h2>Here are the foods:</h2>
    <ul>
      <% availableBooks.forEach(function(book) { %>
        <li><input type="checkbox" check><%= book.name %>, <%=book.value%>, <%= book.valueUnit%>,<%=book.carbs%>,<%=book.fat%>,<%=book.protein%>,<%=book.salt%>,<%=book.sugar%></li>
      <% }) %>
    </ul>
    <input type="submit" value="Calculate">
    </body>
</html>
